/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
}

.bold-text{
    font-weight: 700;
    padding-right: 3px;
}

.padd-bott{
    padding-bottom: 10px;
}
/* END COMMON */

/* HEADER */
header{
    background-color: #000;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

header .logo img{
    display: block;
    width: 120px;
}

header .searchbar button,
header .searchbar input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-left: 20px;
}
header .searchbar input{
    width: 200px;
}
/* END HEADER */

/* MAIN */
main{
    height: calc( 100vh - 60px );
    background-color: #1c1a1c;
    overflow-y: auto;
}

main .cards-container{
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

main .cards-container .card{
    padding: 5px;
    width: calc( 100% / 4 );
}
main .cards-container .card .poster{
    width: 100%;
    display: block;
}

main .cards-container .card-inner{
    position: relative;
    overflow-y: hidden;
}

main .cards-container .layover{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

main .cards-container .card-inner:hover .layover{
    display: block;
}

main .cards-container .card-info{
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

main .cards-container .card-info .flag img{
    width: 20px;
    vertical-align: middle;
}
main .cards-container .card-info .vote{
    display: flex;
}
main .cards-container .card-info .yellow-star{
    color: yellow;
}

/* No results */
main .no-results{
    color: #fff;
    padding: 40px;
    font-size: 30px;
}
/* END MAIN */