<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolflix</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="root">
        <div class="app-wrapper">
            <!-- START HEADER -->
            <header>
                <!-- Start Logo -->
                <div class="logo">
                    <img src="img/logo.png" alt="Logo">
                </div>
                <!-- End Logo -->

                <!-- Start Searchbar -->
                <div class="searchbar">
                    <label hidden for="search-input">Search</label>
                    <input v-model="userSearch" @keyup.enter="searchMovieAndSeries" type="text" id="search-input" placeholder="Search">
                    <button @click="searchMovieAndSeries">Search</button>
                </div>
                <!-- End Searchbar -->
            </header>
            <!-- END HEADER -->

            <!-- Start Movie -->
            <ul v-for="(element, index) in searchedMoviesAndSeries" class="movie">
                <li><img :src="`https://image.tmdb.org/t/p/w342${element.poster_path}`" :alt="element.title"></li>

                <!-- Title -->
                <li>
                    <div v-if="'title' in searchedMoviesAndSeries[index]">Title: {{ element.title }}</div>
                    <div v-else-if="'name' in searchedMoviesAndSeries[index]">Title: {{ element.name }}</div>
                </li>

                <!-- Original title -->
                <li>
                    <div v-if="('original_title' in searchedMoviesAndSeries[index]) && (element.title != element.original_title)">Original Title: {{ element.original_title }}</div>
                    <div v-else-if="'original_name' in searchedMoviesAndSeries[index] && (element.name != element.name)">Original Title: {{ element.original_name }}</div>
                </li>

                <!-- Language or flag -->
                <li class="flag">
                    Language:
                    <img v-if="element.original_language in flags" :src="flags[element.original_language]" :alt="element.original_language">
            
                    <div v-else>{{ element.original_language }}</div>
                </li>

                <!-- Vote -->
                <li>
                    Vote: 
                    <span v-for="number in Math.ceil(element.vote_average / 2)" class="yellow-star"><i class="fas fa-star"></i></span>
                    <span v-for="number in (5 - Math.ceil(element.vote_average / 2))"><i class="fas fa-star"></i></span>
                </li>
            </ul>
            <!-- End Movie -->
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>